* {
    margin: 0px;
    padding: 0px;
    font-style: none;
}
body {
    text-align: center;
    width: 60%;
    padding-left: 20%;
}
.card {
    background-color: #ffefa1;
    padding: 5px;
    margin: 5px;
    width: 300px;
    border-width: 2px;
    border: solid #909569;
    border-radius: 5px;
    display: inline-block;
}
.card:hover {
    background-color: #dcce8b;
    border: solid #65694b;
}
.solution {
    display: none;
}
.showSolution:focus  + .solution {
    display: block;
}
.showSolution  + .solution:focus-within {
    display: block;
}
.solution:focus {
    display: block;
}
.cardDeck {
    background-color: #cacaca;
}
fieldset {
    padding-left:100px;
    padding-right:100px;
    width: 50%;
    margin-left: 15%;
}
a {
    color: aqua;
}